<div style="height: 100%; width: 60%;float: left; ">

    <img src="../../assets/Mask Group.png" style="height: 100%;" >

</div>






<div style="height: 100%; width: 40%;  float: right;">

    <P style="font-family: 'Neo Sans Arabic', sans-serif;
                                            text-align: end;
                                            color: #FFFFFF;
                                            font-size: 9px; margin-right: 15px;">قراءات تانية</P>




    <div style="float: right;margin-right: 15px;">


        <P style="font-family: 'Inter' ;
                                        text-align: center;
                                        color: #FFFFFF;
                                        font-size: 13.5px;font-weight: bold;float: right;">00</P>


        <img style="float: right; margin-top: 13px;margin-right: 3px;" src="../../assets/timer-start.png">
    </div>
</div>




