<link href="https://fonts.cdnfonts.com/css/neo-sans-arabic" rel="stylesheet">

<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

<P style="font-family: 'Neo Sans Arabic', sans-serif;
    text-align: end;
    color: #23262F;
    font-size: 12px; margin-top: 25px;margin-right: 25px;font-weight: bold;">الشخص الاول</P>

<div style="height: 70%; width: 40%; margin-right: 15px; margin-top:15px ; float: right;">

    <div style="height: 33%;">
        <div>
            <div style="height: 7.5px; width: 7.5px; background-color: #3DD598; border-radius: 100%;float: right;">
            </div>
            <P style="font-family: 'Neo Sans Arabic', sans-serif;
                    text-align: end;
                    color: #787486;
                    font-size: 9px; margin-right: 15px;">قراءة رقم 1</P>
        </div>

        <P style="font-family: 'Inter' ;
                    text-align: end;
                    color: #000000;
                    font-size: 13.5px;font-weight: bold;">00</P>
    </div>

    <div style="height: 33%;">
        <div>
            <div style="height: 7.5px; width: 7.5px; background-color: #7661E2; border-radius: 100%;float: right;">
            </div>

            <P style="font-family: 'Neo Sans Arabic', sans-serif;
                                                text-align: end;
                                                color: #787486;
                                                font-size: 9px;margin-right: 15px;">قراءة رقم 2</P>
        </div>

        <P style="font-family: 'Inter' ;
                                text-align: end;
                                color: #000000;
                                font-size: 13.5px;font-weight: bold;">00</P>
    </div>



    <div style="height: 33%;">
        <div>
            <div style="height: 7.5px; width: 7.5px; background-color: #F8C07F; border-radius: 100%;float: right;">
            </div>


            <P style="font-family: 'Neo Sans Arabic', sans-serif;
                text-align: end;
                color: #787486;
                font-size: 9px;margin-right: 15px;">قراءة رقم 3</P>
        </div>

        <P style="font-family: 'Inter' ;
            text-align: end;
            color: #000000;
            font-size: 13.5px;font-weight: bold;">00</P>
    </div>




</div>

<div >
    <div style="width: 100%; height: 57%;">
    
        <div class="pie animate" style="--p:55;--c:#3DD598;--b:5px; height: 125px;width: 125px;--w:125px;">
       
            <div class="pie animate"
                style="--p:40;--c:#7661E2;--b:5px;transform: rotate(95deg);height: 100px;width: 100px;--w:100px;">
                

                <div class="pie animate" style="--p:40;--c:#F8C07F;--b:5px;transform: rotate(95deg);height: 75px;width: 75px;--w:75px;">
                    <div style="transform: rotate(-190deg);">
                
                        <img src="../../assets/Image-79.png">
                
                
                    </div>
                
               


                </div>
               
            </div>
        </div>

    </div>
</div>