<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
    ::placeholder {
        color: #92A1AD66;
    }
</style>



<div style="height: 100%;">
    <button style="background-color: #fff000;
border-radius: 6px;font-family: Neo Sans Arabic;
color: #000;
cursor: pointer;
padding: 10px 15px;
text-align: center;
width: 108px;
height: 36px;
transition: 200ms;
box-sizing: border-box;
border: 0;
font-size: 12px;
font-weight: 400;
"> إضافة جديد +</button>

    <div style=" float: right;">
        <button
            style="width: 36px;
height: 36px;margin-right: 7px; padding: 5px 5px;border-radius: 6px;background-color: #FFFFFF;cursor: pointer; border: 1px solid #92A1AD66;"><img
                src="../../assets/arrow-3.svg"></button>

        <button
            style="width: 36px;
height: 36px;margin-right: 7px; padding: 5px 5px;border-radius: 7.5px;background-color: #FFFFFF;cursor: pointer; border: 1px solid #92A1AD66;"><img
                src="../../assets/setting-4.svg"></button>



        <input style="width: 277px;font-family: Neo Sans Arabic;
height: 36px;text-align: end;border-radius: 8px;border: 1px solid #92A1AD66;font-size: 10px;
font-weight: 400;  background: url(../../assets/search-normal.png) right no-repeat;background-color: #FFFFFF;
    padding-right: 21.25px;" type="text" placeholder="... بحث عن">
    </div>



    <table style=" width: 100%; background-color: white; margin-top: 2%; ">

        <tr style="color: #5A5A67; background-color: #E0E3E9; text-align: center; height: 10px;">

            <td>
                <P style="font-size: 10.38px;margin: 0px; padding-top: 10px;height: 18px;font-family: 'Neo Sans Arabic', sans-serif;">ملفات</P> 
            </td>

            <td>
                <P style="font-size: 10.38px;margin: 0px;padding-top: 10px;height: 18px;font-family: 'Neo Sans Arabic', sans-serif;">ايام العمل</P>
            </td>

            <td>
                <P style="font-size: 10.38px;margin: 0px;padding-top: 10px;height: 18px;font-family: 'Neo Sans Arabic', sans-serif;">البريد الإلكتروني</P>
            </td>

            <td>
                <P style="font-size: 10.38px;margin: 0px;padding-top: 10px;height: 18px;font-family: 'Neo Sans Arabic', sans-serif;">الاسم بالكامل</P>
            </td>

            <td>
                <P style=" font-size: 10.38px;margin: 0px;padding-top: 10px;height: 18px;font-family: 'Neo Sans Arabic', sans-serif;">رقم ال id</P>
            </td>

        </tr>

        <tr style="color: #5A5A67; background-color: #FFFFFF; text-align: center; height: 12.5%;">

            <td>
                <img src="../../assets/Rectangle 34624752.png" style="float: right;">






                <div style="float: right;margin-right: 5px; ">

                    <P style="font-family: 'Neo Sans Arabic', sans-serif;
                                                                                text-align: end;
                                                                                color: #1C1C28; 
                                                                                font-size: 9px; margin-right: 5px;">
                        واجهة المستخدم .png</P>

                    <P style="font-family: 'Inter' ;
                                                        text-align: center;
                                                        color: #76778B;margin-right: 3px;
                                                        font-size: 5px;float: right;">9mb . PDF</P>



                </div>
            </td>

            <td>
                <button
                    style="margin-right: 5px; height: 42px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">ج</p>
                </button>

                <button
                    style="margin-right: 5px; height: 42px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">خ</p>
                </button>
                <button
                    style="margin-right: 5px;height: 42px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">ر</p>
                </button>
                <button
                    style="margin-right: 5px; height: 42px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">ث</p>
                </button>
                <button
                    style="margin-right: 5px; height: 42px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">ن</p>
                </button>
                <button
                    style="margin-right: 5px; height: 42px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">ح</p>
                </button>

                <button
                    style="margin-right: 5px; height: 42px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p>س</p>
                </button>
            </td>

            <td>
                <P style="font-size: 10.38px;width: 20%;">Example@company.com</P>
            </td>

            <td>
                <P style="font-size: 10.38px;width: 20%;">اسم إفتراضي جديد</P>
            </td>

            <td>
                <P style=" font-size: 10.38px;width: 20%;">ID-15877</P>
            </td>

        </tr>

        <tr style="color: #5A5A67; background-color: #FFFFFF; text-align: center; height: 12.5%;">

            <td>
                <img src="../../assets/Rectangle 34624752.png" style="float: right;">






                <div style="float: right;margin-right: 5px; ">

                    <P
                        style="font-family: 'Neo Sans Arabic', sans-serif;
                                                                                        text-align: end;
                                                                                        color: #1C1C28; 
                                                                                        font-size: 9px; margin-right: 5px;">
                        واجهة المستخدم .png</P>

                    <P style="font-family: 'Inter' ;
                                                                text-align: center;
                                                                color: #76778B;margin-right: 3px;
                                                                font-size: 5px;float: right;">9mb . PDF</P>



                </div>
            </td>

            <td>
                <button
                    style="margin-right: 5px; height: 30px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">ج</p>
                </button>

                <button
                    style="margin-right: 5px; height: 30px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">خ</p>
                </button>
                <button
                    style="margin-right: 5px; height: 30px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">ر</p>
                </button>
                <button
                    style="margin-right: 5px; height: 30px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">ث</p>
                </button>
                <button
                    style="margin-right: 5px; height: 30px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">ن</p>
                </button>
                <button
                    style="margin-right: 5px; height: 30px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">ح</p>
                </button>

                <button
                    style="margin-right: 5px; height: 30px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p>س</p>
                </button>
            </td>

            <td>
                <P style="font-size: 10.38px;width: 20%;">Example@company.com</P>
            </td>

            <td>
                <P style="font-size: 10.38px;width: 20%;">اسم إفتراضي جديد</P>
            </td>

            <td>
                <P style=" font-size: 10.38px;width: 20%;">ID-15877</P>
            </td>

        </tr>

        <tr style="color: #5A5A67; background-color: #FFFFFF; text-align: center; height: 12.5%;">

            <td>
                <img src="../../assets/Rectangle 34624752.png" style="float: right;">






                <div style="float: right;margin-right: 5px; ">

                    <P
                        style="font-family: 'Neo Sans Arabic', sans-serif;
                                                                                        text-align: end;
                                                                                        color: #1C1C28; 
                                                                                        font-size: 9px; margin-right: 5px;">
                        واجهة المستخدم .png</P>

                    <P style="font-family: 'Inter' ;
                                                                text-align: center;
                                                                color: #76778B;margin-right: 3px;
                                                                font-size: 5px;float: right;">9mb . PDF</P>



                </div>
            </td>

            <td>
                <button
                    style="margin-right: 5px; height: 30px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">ج</p>
                </button>

                <button
                    style="margin-right: 5px; height: 30px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">خ</p>
                </button>
                <button
                    style="margin-right: 5px; height: 30px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">ر</p>
                </button>
                <button
                    style="margin-right: 5px; height: 30px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">ث</p>
                </button>
                <button
                    style="margin-right: 5px; height: 30px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">ن</p>
                </button>
                <button
                    style="margin-right: 5px; height: 30px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">ح</p>
                </button>

                <button
                    style="margin-right: 5px; height: 30px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p>س</p>
                </button>
            </td>

            <td>
                <P style="font-size: 10.38px;width: 20%;">Example@company.com</P>
            </td>

            <td>
                <P style="font-size: 10.38px;width: 20%;">اسم إفتراضي جديد</P>
            </td>

            <td>
                <P style=" font-size: 10.38px;width: 20%;">ID-15877</P>
            </td>

        </tr>

        <tr style="color: #5A5A67; background-color: #FFFFFF; text-align: center; height: 12.5%;">

            <td>
                <img src="../../assets/Rectangle 34624752.png" style="float: right;">






                <div style="float: right;margin-right: 5px; ">

                    <P style="font-family: 'Neo Sans Arabic', sans-serif;
                                                                                text-align: end;
                                                                                color: #1C1C28; 
                                                                                font-size: 9px; margin-right: 5px;">
                        واجهة المستخدم .png</P>

                    <P style="font-family: 'Inter' ;
                                                        text-align: center;
                                                        color: #76778B;margin-right: 3px;
                                                        font-size: 5px;float: right;">9mb . PDF</P>



                </div>
            </td>

            <td>
                <button
                    style="margin-right: 5px; height: 30px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">ج</p>
                </button>

                <button
                    style="margin-right: 5px; height: 30px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">خ</p>
                </button>
                <button
                    style="margin-right: 5px; height: 30px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">ر</p>
                </button>
                <button
                    style="margin-right: 5px; height: 30px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">ث</p>
                </button>
                <button
                    style="margin-right: 5px; height: 30px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">ن</p>
                </button>
                <button
                    style="margin-right: 5px; height: 30px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="text-align: center;">ح</p>
                </button>

                <button
                    style="margin-right: 5px; height: 30px;width:  30px; border-radius: 8px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p>س</p>
                </button>
            </td>

            <td>
                <P style="font-size: 10.38px;width: 20%;">Example@company.com</P>
            </td>

            <td>
                <P style="font-size: 10.38px;width: 20%;">اسم إفتراضي جديد</P>
            </td>

            <td>
                <P style=" font-size: 10.38px;width: 20%;">ID-15877</P>
            </td>

        </tr>


    </table>

    <div style=" float: left; height: 8%;">
    <img (click)="emails_page_m()" src="../../assets/icon.png"
        style="float: right;cursor: pointer; margin-top: 9px;">


        <button
            style="float: right;width: 20.764px;margin-top: 9px;
height: 20.764px;border-radius: 3.461px;
        margin-right: 7px; padding: 5px 5px;background-color: #FFFFFF;cursor: pointer; border: 1px solid #92A1AD66;"><p style="margin: 0px;text-align: center;
font-family: Inter;
font-size: 10.382px;
font-weight: 600;">1</p></button>


    
    <img (click)="emails_page_p()" src="../../assets/icon (1).png"
        style="float: right;cursor: pointer;margin-top: 9px;">

    </div>
   
</div>