<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>


<style>
    ::placeholder {
        color: #92A1AD66;
    }
</style>



<div style="height: 100%;">
    <button style="background-color: #fff000;
border-radius: 6px;font-family: Neo Sans Arabic;
color: #000;
cursor: pointer;
padding: 10px 15px;
text-align: center;
width: 108px;
height: 36px;
transition: 200ms;
box-sizing: border-box;
border: 0;
font-size: 12px;
font-weight: 400;
"> إضافة جديد +</button>

    <div style=" float: right;">
        <button
            style="width: 36px;
height: 36px;margin-right: 7px; padding: 5px 5px;border-radius: 6px;background-color: #FFFFFF;cursor: pointer; border: 1px solid #92A1AD66;"><img
                src="../../assets/arrow-3.svg"></button>

        <button
            style="width: 36px;
height: 36px;margin-right: 7px; padding: 5px 5px;border-radius: 7.5px;background-color: #FFFFFF;cursor: pointer; border: 1px solid #92A1AD66;"><img
                src="../../assets/setting-4.svg"></button>



        <input style="width: 277px;font-family: Neo Sans Arabic;
height: 36px;text-align: end;border-radius: 8px;border: 1px solid #92A1AD66;font-size: 10px;
font-weight: 400;  background: url(../../assets/search-normal.png) right no-repeat;background-color: #FFFFFF;
    padding-right: 21.25px;" type="text" placeholder="... بحث عن">
    </div>



    <table style=" width: 100%; background-color: white; margin-top: 2%; border: 1px solid #E0E3E9;">

        <tr style="color: #5A5A67; background-color: #E0E3E9; text-align: center; height: 10px;">

            <td>
                <div style="width: 20px;
height: 20px;border-radius: 6px;margin-left: 15px;margin-right: 10px;
background: #0771DE;"><img style="cursor: pointer;" src="../../assets/setting-2.png"></div>

            </td>

            <td>
                <P
                    style="font-size: 10.38px;margin: 0px; padding-top: 10px;height: 18px;font-family: 'Neo Sans Arabic', sans-serif;">
                    ملفات</P>
            </td>

            <td>
                <P
                    style="font-size: 10.38px;margin: 0px;padding-top: 10px;height: 18px;font-family: 'Neo Sans Arabic', sans-serif;">
                    ايام العمل</P>
            </td>

            <td>
                <P
                    style="font-size: 10.38px;margin: 0px;padding-top: 10px;height: 18px;font-family: 'Neo Sans Arabic', sans-serif;">
                    البريد الإلكتروني</P>
            </td>

            <td>
                <P
                    style="font-size: 10.38px;margin: 0px;padding-top: 10px;height: 18px;font-family: 'Neo Sans Arabic', sans-serif;">
                    الاسم بالكامل</P>
            </td>

            <td>
                <P
                    style=" font-size: 10.38px;margin: 0px;padding-top: 10px;height: 18px;font-family: 'Neo Sans Arabic', sans-serif;">
                    رقم ال id</P>
            </td>

        </tr>

        <tr style=" text-align: center; height: 12.5%;">

            <td><img style="padding-left: 3px;padding-right: 10px;cursor: pointer;"
                    src="../../assets/Group 1000011386.png"></td>

            <td>
                <img src="../../assets/Rectangle 34624752.png" style="float: right;">






                <div style="float: right;margin-right: 5px; ">

                    <P style="font-family: 'Neo Sans Arabic', sans-serif;
                                                                                text-align: end;
                                                                                color: #1C1C28;  margin-bottom: 0px;
                                                                                font-size: 9px; margin-right: 5px;">
                        واجهة المستخدم .png</P>

                    <P style="font-family: 'Inter' ;
                                                        text-align: center;
                                                        color: #76778B;margin-right: 3px;
                                                        font-size: 5px;float: right;">9mb . PDF</P>



                </div>
            </td>

            <td>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">ج</p>
                </button>

                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">خ</p>
                </button>
                <button style="margin-right: 4px;width: 19px;border-radius: 2.375px;
height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">ر</p>
                </button>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">ث</p>
                </button>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
height: 19px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">ن</p>
                </button>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">ح</p>
                </button>

                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">س</p>
                </button>
            </td>

            <td>
                <P style="font-size: 10.38px;width: 20%;font-family: Poppins;color: #1C1C28;
font-size: 9.805px;">Example@company.com</P>
            </td>

            <td>
                <P style="color: #1C1C28;
font-family: Neo Sans Arabic; 
font-size: 9.805px;">اسم إفتراضي جديد</P>
            </td>

            <td>
                <P style="font-family: Poppins;
font-size: 9.805px;color: #99A1B7;
font-weight: 400;">ID-15877</P>
            </td>

        </tr>

        <tr style=" text-align: center; height: 12.5%;">

            <td><img style="padding-left: 3px;padding-right: 10px;cursor: pointer;"
                    src="../../assets/Group 1000011386.png"></td>

            <td>
                <img src="../../assets/Rectangle 34624752.png" style="float: right;">






                <div style="float: right;margin-right: 5px; ">

                    <P
                        style="font-family: 'Neo Sans Arabic', sans-serif;
                                                                                        text-align: end;
                                                                                        color: #1C1C28;  margin-bottom: 0px;
                                                                                        font-size: 9px; margin-right: 5px;">
                        واجهة المستخدم .png</P>

                    <P style="font-family: 'Inter' ;
                                                                text-align: center;
                                                                color: #76778B;margin-right: 3px;
                                                                font-size: 5px;float: right;">9mb . PDF</P>



                </div>
            </td>

            <td>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
            height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
            font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">ج
                    </p>
                </button>

                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
            height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
            font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">خ
                    </p>
                </button>
                <button style="margin-right: 4px;width: 19px;border-radius: 2.375px;
            height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
            font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">ر
                    </p>
                </button>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
            height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
            font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">ث
                    </p>
                </button>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
            height: 19px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
            font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">ن
                    </p>
                </button>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
            height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
            font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">ح
                    </p>
                </button>

                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
            height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
            font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">س
                    </p>
                </button>
            </td>

            <td>
                <P style="font-size: 10.38px;width: 20%;font-family: Poppins;color: #1C1C28;
font-size: 9.805px;">Example@company.com</P>
            </td>

            <td>
                <P style="color: #1C1C28;
font-family: Neo Sans Arabic; 
font-size: 9.805px;">اسم إفتراضي جديد</P>
            </td>

            <td>
                <P style="font-family: Poppins;
font-size: 9.805px;color: #99A1B7;
font-weight: 400;">ID-15877</P>
            </td>

        </tr>

        <tr style=" text-align: center; height: 12.5%;">

            <td><img style="padding-left: 3px;padding-right: 10px;cursor: pointer;"
                    src="../../assets/Group 1000011386.png"></td>

            <td>
                <img src="../../assets/Rectangle 34624752.png" style="float: right;">






                <div style="float: right;margin-right: 5px; ">

                    <P
                        style="font-family: 'Neo Sans Arabic', sans-serif;
                                                                                        text-align: end;
                                                                                        color: #1C1C28;  margin-bottom: 0px;
                                                                                        font-size: 9px; margin-right: 5px;">
                        واجهة المستخدم .png</P>

                    <P style="font-family: 'Inter' ;
                                                                text-align: center;
                                                                color: #76778B;margin-right: 3px;
                                                                font-size: 5px;float: right;">9mb . PDF</P>



                </div>
            </td>

            <td>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
            height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
            font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">ج
                    </p>
                </button>

                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
            height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
            font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">خ
                    </p>
                </button>
                <button style="margin-right: 4px;width: 19px;border-radius: 2.375px;
            height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
            font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">ر
                    </p>
                </button>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
            height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
            font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">ث
                    </p>
                </button>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
            height: 19px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
            font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">ن
                    </p>
                </button>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
            height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
            font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">ح
                    </p>
                </button>

                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
            height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
            font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">س
                    </p>
                </button>
            </td>

            <td>
                <P style="font-size: 10.38px;width: 20%;font-family: Poppins;color: #1C1C28;
font-size: 9.805px;">Example@company.com</P>
            </td>

            <td>
                <P style="color: #1C1C28;
font-family: Neo Sans Arabic; 
font-size: 9.805px;">اسم إفتراضي جديد</P>
            </td>

            <td>
                <P style="font-family: Poppins;
font-size: 9.805px;color: #99A1B7;
font-weight: 400;">ID-15877</P>
            </td>

        </tr>

        <tr style=" text-align: center; height: 12.5%;">

            <td><img style="padding-left: 3px;padding-right: 10px;cursor: pointer;"
                    src="../../assets/Group 1000011386.png"></td>

            <td>
                <img src="../../assets/Rectangle 34624752.png" style="float: right;">






                <div style="float: right;margin-right: 5px; ">

                    <P style="font-family: 'Neo Sans Arabic', sans-serif;
                                                                                text-align: end;
                                                                                color: #1C1C28; margin-bottom: 0px;
                                                                                font-size: 9px; margin-right: 5px;">
                        واجهة المستخدم .png</P>

                    <P style="font-family: 'Inter' ;
                                                        text-align: center;
                                                        color: #76778B;margin-right: 3px;
                                                        font-size: 5px;float: right;">9mb . PDF</P>



                </div>
            </td>

            <td>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
            height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
            font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">ج
                    </p>
                </button>

                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
            height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
            font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">خ
                    </p>
                </button>
                <button style="margin-right: 4px;width: 19px;border-radius: 2.375px;
            height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
            font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">ر
                    </p>
                </button>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
            height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
            font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">ث
                    </p>
                </button>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
            height: 19px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
            font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">ن
                    </p>
                </button>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
            height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
            font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">ح
                    </p>
                </button>

                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
            height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p style="font-size: 9.5px;
            font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">س
                    </p>
                </button>
            </td>
            <td>
                <P style="font-size: 10.38px;width: 20%;font-family: Poppins;color: #1C1C28;
font-size: 9.805px;">Example@company.com</P>
            </td>

            <td>
                <P style="color: #1C1C28;
font-family: Neo Sans Arabic; 
font-size: 9.805px;">اسم إفتراضي جديد</P>
            </td>

            <td>
                <P style="font-family: Poppins;
font-size: 9.805px;color: #99A1B7;
font-weight: 400;">ID-15877</P>
            </td>

        </tr>

        <tr style=" text-align: center; height: 12.5%;">

            <td><img style="padding-left: 3px;padding-right: 10px;cursor: pointer;"
                    src="../../assets/Group 1000011386.png">
            </td>

            <td>
                <img src="../../assets/Rectangle 34624752.png" style="float: right;">






                <div style="float: right;margin-right: 5px; ">

                    <P
                        style="font-family: 'Neo Sans Arabic', sans-serif;
                                                                                        text-align: end;
                                                                                        color: #1C1C28; margin-bottom: 0px;
                                                                                        font-size: 9px; margin-right: 5px;">
                        واجهة المستخدم .png</P>

                    <P style="font-family: 'Inter' ;
                                                                text-align: center;
                                                                color: #76778B;margin-right: 3px;
                                                                font-size: 5px;float: right;">9mb . PDF</P>



                </div>
            </td>

            <td>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
                    height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p
                        style="font-size: 9.5px;
                    font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">
                        ج
                    </p>
                </button>

                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
                    height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p
                        style="font-size: 9.5px;
                    font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">
                        خ
                    </p>
                </button>
                <button style="margin-right: 4px;width: 19px;border-radius: 2.375px;
                    height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p
                        style="font-size: 9.5px;
                    font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">
                        ر
                    </p>
                </button>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
                    height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p
                        style="font-size: 9.5px;
                    font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">
                        ث
                    </p>
                </button>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
                    height: 19px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p
                        style="font-size: 9.5px;
                    font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">
                        ن
                    </p>
                </button>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
                    height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p
                        style="font-size: 9.5px;
                    font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">
                        ح
                    </p>
                </button>

                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
                    height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p
                        style="font-size: 9.5px;
                    font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">
                        س
                    </p>
                </button>
            </td>
            <td>
                <P style="font-size: 10.38px;width: 20%;font-family: Poppins;color: #1C1C28;
        font-size: 9.805px;">Example@company.com</P>
            </td>

            <td>
                <P style="color: #1C1C28;
        font-family: Neo Sans Arabic; 
        font-size: 9.805px;">اسم إفتراضي جديد</P>
            </td>

            <td>
                <P style="font-family: Poppins;
        font-size: 9.805px;color: #99A1B7;
        font-weight: 400;">ID-15877</P>
            </td>

        </tr>

        <tr style=" text-align: center; height: 12.5%;">

            <td><img style="padding-left: 3px;padding-right: 10px;cursor: pointer;"
                    src="../../assets/Group 1000011386.png">
            </td>

            <td>
                <img src="../../assets/Rectangle 34624752.png" style="float: right;">






                <div style="float: right;margin-right: 5px; ">

                    <P
                        style="font-family: 'Neo Sans Arabic', sans-serif;
                                                                                        text-align: end;
                                                                                        color: #1C1C28; margin-bottom: 0px;
                                                                                        font-size: 9px; margin-right: 5px;">
                        واجهة المستخدم .png</P>

                    <P style="font-family: 'Inter' ;
                                                                text-align: center;
                                                                color: #76778B;margin-right: 3px;
                                                                font-size: 5px;float: right;">9mb . PDF</P>



                </div>
            </td>

            <td>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
                    height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p
                        style="font-size: 9.5px;
                    font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">
                        ج
                    </p>
                </button>

                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
                    height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p
                        style="font-size: 9.5px;
                    font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">
                        خ
                    </p>
                </button>
                <button style="margin-right: 4px;width: 19px;border-radius: 2.375px;
                    height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p
                        style="font-size: 9.5px;
                    font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">
                        ر
                    </p>
                </button>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
                    height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p
                        style="font-size: 9.5px;
                    font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">
                        ث
                    </p>
                </button>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
                    height: 19px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p
                        style="font-size: 9.5px;
                    font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">
                        ن
                    </p>
                </button>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
                    height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p
                        style="font-size: 9.5px;
                    font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">
                        ح
                    </p>
                </button>

                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
                    height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p
                        style="font-size: 9.5px;
                    font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">
                        س
                    </p>
                </button>
            </td>
            <td>
                <P style="font-size: 10.38px;width: 20%;font-family: Poppins;color: #1C1C28;
        font-size: 9.805px;">Example@company.com</P>
            </td>

            <td>
                <P style="color: #1C1C28;
        font-family: Neo Sans Arabic; 
        font-size: 9.805px;">اسم إفتراضي جديد</P>
            </td>

            <td>
                <P style="font-family: Poppins;
        font-size: 9.805px;color: #99A1B7;
        font-weight: 400;">ID-15877</P>
            </td>

        </tr>

        <tr style=" text-align: center; height: 12.5%;">

            <td><img style="padding-left: 3px;padding-right: 10px;cursor: pointer;"
                    src="../../assets/Group 1000011386.png">
            </td>

            <td>
                <img src="../../assets/Rectangle 34624752.png" style="float: right;">






                <div style="float: right;margin-right: 5px; ">

                    <P
                        style="font-family: 'Neo Sans Arabic', sans-serif;
                                                                                        text-align: end;
                                                                                        color: #1C1C28; margin-bottom: 0px;
                                                                                        font-size: 9px; margin-right: 5px;">
                        واجهة المستخدم .png</P>

                    <P style="font-family: 'Inter' ;
                                                                text-align: center;
                                                                color: #76778B;margin-right: 3px;
                                                                font-size: 5px;float: right;">9mb . PDF</P>



                </div>
            </td>

            <td>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
                    height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p
                        style="font-size: 9.5px;
                    font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">
                        ج
                    </p>
                </button>

                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
                    height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p
                        style="font-size: 9.5px;
                    font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">
                        خ
                    </p>
                </button>
                <button style="margin-right: 4px;width: 19px;border-radius: 2.375px;
                    height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p
                        style="font-size: 9.5px;
                    font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">
                        ر
                    </p>
                </button>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
                    height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p
                        style="font-size: 9.5px;
                    font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">
                        ث
                    </p>
                </button>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
                    height: 19px;background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p
                        style="font-size: 9.5px;
                    font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">
                        ن
                    </p>
                </button>
                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
                    height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p
                        style="font-size: 9.5px;
                    font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">
                        ح
                    </p>
                </button>

                <button style="margin-right: 4px; width: 19px;border-radius: 2.375px;
                    height: 19px; background-color: #F7F7FA;cursor: pointer; border: 1px solid #FFFFFF;">
                    <p
                        style="font-size: 9.5px;
                    font-weight: 400;font-family: Neo Sans Arabic; text-align: center; margin-top: 0px;margin-right: 2px;">
                        س
                    </p>
                </button>
            </td>
            <td>
                <P style="font-size: 10.38px;width: 20%;font-family: Poppins;color: #1C1C28;
        font-size: 9.805px;">Example@company.com</P>
            </td>

            <td>
                <P style="color: #1C1C28;
        font-family: Neo Sans Arabic; 
        font-size: 9.805px;">اسم إفتراضي جديد</P>
            </td>

            <td>
                <P style="font-family: Poppins;
        font-size: 9.805px;color: #99A1B7;
        font-weight: 400;">ID-15877</P>
            </td>

        </tr>


    </table>

    <div style=" float: left; height: 8%; margin-top: 2px;">
        <img (click)="emails_page_m()" src="../../assets/icon.png"
            style="float: right;cursor: pointer; margin-top: 9px;">


        <button (click)="emails_page_1()" style="float: right;width: 20.764px;margin-top: 5px;
height: 20.764px;border-radius: 3.461px;
        margin-right: 7px; padding: 5px 5px;  cursor: pointer; border: 1px solid #92a1ad00;  "
            [style.background-color]="page1_back_color" [style.color]="page1_text_color">
            <p style="margin: 0px;text-align: center;
font-family: Inter;
font-size: 10.382px;
font-weight: 600;">{{page1_text}}</p>
        </button>

        <button (click)="emails_page_2()" style="float: right;width: 20.764px;margin-top: 5px;
height: 20.764px;border-radius: 3.461px;
        margin-right: 7px; padding: 5px 5px; cursor: pointer; border: 1px solid #92a1ad00;"
            [style.background-color]="page2_back_color" [style.color]="page2_text_color">
            <p style="margin: 0px;text-align: center;
font-family: Inter;
font-size: 10.382px;
font-weight: 600;">{{page2_text}}</p>
        </button>

        <button (click)="emails_page_3()" style="float: right;width: 20.764px;margin-top: 5px;
height: 20.764px;border-radius: 3.461px;
        margin-right: 7px; padding: 5px 5px; cursor: pointer; border: 1px solid #92a1ad00;  "
            [style.background-color]="page3_back_color" [style.color]="page3_text_color">
            <p style="margin: 0px;text-align: center;
font-family: Inter;
font-size: 10.382px;
font-weight: 600;">{{page3_text}}</p>


        </button>

        <button (click)="emails_page_4()" style="float: right;width: 20.764px;margin-top: 5px;
height: 20.764px;border-radius: 3.461px;
        margin-right: 7px; padding: 5px 5px; cursor: pointer; border: 1px solid #92a1ad00; "
            [style.background-color]="page4_back_color" [style.color]="page4_text_color">
            <p style="margin: 0px;text-align: center;
font-family: Inter;
font-size: 10.382px;
font-weight: 600;">{{page4_text}}</p>


        </button>

        <button (click)="emails_page_5()" style="float: right;width: 20.764px;margin-top: 5px;
height: 20.764px;border-radius: 3.461px;
        margin-right: 7px; margin-left: 7px; padding: 5px 5px;cursor: pointer; border: 1px solid #92a1ad00;"
            [style.background-color]="page5_back_color" [style.color]="page5_text_color">
            <p style="margin: 0px;text-align: center;
font-family: Inter;
font-size: 10.382px;
font-weight: 600;">{{page5_text}}</p>


        </button>



        <img (click)="emails_page_p()" src="../../assets/icon (1).png"
            style="float: right;cursor: pointer;margin-top: 9px;">

    </div>

</div>