.nav_icon {
    cursor: pointer;margin-bottom: 15px;margin-top: 15px;
}

.marg1 {
    font-family: 'Neo Sans Arabic', sans-serif;
    text-align: end;
    color: #2E2E2E;
    cursor: pointer;
    padding-right: 19.50px;

    font-size: 13.5px;
        font-weight: 400;

        


}

.marg2 {
    font-family: 'Neo Sans Arabic', sans-serif;
    text-align: end;
    color: #CFCFCF;

    font-size: 12px;
        
        font-weight: 400;





}