<link href="https://fonts.cdnfonts.com/css/neo-sans-arabic" rel="stylesheet">

<P style="font-family: 'Neo Sans Arabic', sans-serif;
    text-align: end;
    color: #23262F;
    font-size: 12px; margin-top: 25px;margin-right: 25px;font-weight: bold;">إحصائيات</P>


<div style="width: 100%; height: 57%; margin-left: 50px;">
   
        <div class="pie animate" style="--p:95;--c:#E5E5EF;--b:10px; height: 130px;width: 130px;--w:130px;">
            <div class="pie animate" style="--p:55;--c:#0771DE;--b:10px; height: 130px;width: 130px;--w:130px;">
         
            <div class="pie animate" style="--p:95;--c:#E5E5EF;--b:10px;transform: rotate(95deg);height: 90px;width: 90px;--w:90px;"><div class="pie animate"
                style="--p:40;--c:#FDB841;--b:10px;height: 90px;width: 90px;--w:90px;">
                <div style="transform: rotate(-95deg);">

                    <P style="font-family: 'Inter' ;
                            text-align: end;
                            color: #000000;
                            font-size: 13.5px;text-align: center;">000</P>


                    <P style="font-family: 'Neo Sans Arabic', sans-serif;
                            text-align: end;
                            color: #B6BACA;font-weight: bold; 
                            font-size: 9px; text-align: center;">جهاز</P>


                </div>
                 </div> 
            </div>
        </div>
    </div>

</div>





<div style="height: 33%;float: right; margin-right: 50px;">

    <img style="width: 3px;float: right;" src="../../assets/Line 312.png">



    <div style="float: right;">

        <P style="font-family: 'Inter' ;
                        text-align: end;
                        color: #000000;
                        font-size: 13.5px;font-weight: bold;margin-right: 15px;">00</P>


        <P style="font-family: 'Neo Sans Arabic', sans-serif;
                        text-align: end;
                        color: #B6BACA;
                        font-size: 9px; ">الخيار الأول</P>


    </div>


</div>






<div style="height: 33%;float: left; margin-left: 50px;">

    <img style="width: 3px;float: right;" src="../../assets/Line 312 (1).png">



    <div style="float: right;">

        <P style="font-family: 'Inter' ;
                        text-align: end;
                        color: #000000;
                        font-size: 13.5px;font-weight: bold;margin-right: 15px;">00</P>


        <P style="font-family: 'Neo Sans Arabic', sans-serif;
                        text-align: end;
                        color: #B6BACA;
                        font-size: 9px;">الخيار الثاني</P>


    </div>


</div>