<link href="https://fonts.cdnfonts.com/css/neo-sans-arabic" rel="stylesheet">

<P style="font-family: 'Neo Sans Arabic', sans-serif;
    text-align: end;
    color: #23262F;
    font-size: 12px; margin-top: 25px;margin-right: 25px;font-weight: bold;">إحصائيات</P>


<div style="width: 100%; height: 57%; margin-left: 50px;">

    <div class="pie animate" style="--p:95;--c:#E5E5EF;--b:10px; height: 130px;width: 130px;--w:130px;">
        <div class="pie animate" style="--p:55;--c:#0771DE;--b:10px; height: 130px;width: 130px;--w:130px;">

            <div class="pie animate"
                style="--p:95;--c:#E5E5EF;--b:10px;transform: rotate(95deg);height: 90px;width: 90px;--w:90px;">
                <div class="pie animate" style="--p:40;--c:#FDB841;--b:10px;height: 90px;width: 90px;--w:90px;">
                    <div style="transform: rotate(-95deg);">

                        <P style="font-family: 'Inter' ;
                            text-align: end;
                            color: #1C1C28;font-weight: 500;margin-bottom: 0px;
                            font-size: 16.113px;text-align: center;">{{profile2_total}}</P>


                        <P style="font-family: 'Neo Sans Arabic', sans-serif;
                            text-align: end;
                            color: #6B7181;font-weight: 400; margin-top: 2.47px;
                            font-size: 11.279px; text-align: center;">جهاز</P>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>





<div style="float: right; margin-right: 35px;">

    <img style="float: right;margin-top: 18px;" src="../../assets/Line 312.png">



    <div style="float: right;margin-right: 15px;">

        <P style="font-family: 'Inter' ;
                        text-align: end;font-size: 14.531px;font-weight: 500;
                        color: #000000; margin-bottom: 0px;">{{profile2_number1}}</P>


        <P style="font-family: 'Neo Sans Arabic', sans-serif;
                        text-align: end;margin-top: 2.38px;
                        color: #B6BACA;font-size: 12px;
                        font-weight: 400;">{{profile2_title1}}</P>


    </div>


</div>






<div style="float: left; margin-left: 35px;">

    <img style="float: right;margin-top: 18px;" src="../../assets/Line 312 (1).png">



    <div style="float: right;margin-right: 15px; ">

        <P style="font-family: 'Inter' ;
                        text-align: end;font-size: 14.531px;font-weight: 500;
                        color: #000000; margin-bottom: 0px;">{{profile2_number2}}</P>


        <P style="font-family: 'Neo Sans Arabic', sans-serif;
                        text-align: end;margin-top: 2.38px;
                        color: #B6BACA;font-size: 12px;
                        font-weight: 400;">{{profile2_title2}}</P>


    </div>


</div>