<div style="height: 100vh ;">
  <div style="height: 8%; background-color: white;">
    <app-title></app-title>


  </div>

  <div style="height: 92%; width: 26%; float: left; margin-right: 1%;background-color: white;">

    <app-calendar></app-calendar>
   

  </div>




  <div style="height: 92%; width: 53%;float: left;margin-right: 1%;">
    <div style="height: 38%; width: 26%;float: left;margin: 1%; ">

      <div
        style="height: 32%; width: 98%; background-color: #FF9A3E ;float: left;margin-bottom: 2%;border-radius: 20px;">
        <app-panel1></app-panel1>
      </div>

      <div
        style="height: 31%; width: 98%; background-color: #7661E2;float: left;margin-bottom: 2%;border-radius: 20px;">
        <app-panel2></app-panel2>
      </div>

      <div style="height: 33%; width: 98%; background-color: #3DD598;float: left;border-radius: 20px;">
        <app-panel3></app-panel3>
      </div>

    </div>

    <div
      style="height: 38%; width: 33%; background-color: white;float: left;border-radius: 10px; margin: 1%; border: 1px solid #E7E7E7;">

      <app-profile2></app-profile2>
    </div>

    <div style="height: 38%; width: 34%; background-color: white;float: left; border-radius: 10px; margin: 1%;">
      <app-profile1></app-profile1>

    </div>

    <div style="height: 57%; width: 98%; float: left; margin: 1%;">


      <app-emails></app-emails>

    </div>

  </div>





  <div style="height: 92%; width: 19%; background-color: white;float: left;">

    <app-nav></app-nav>

  </div>
</div>